<div class="header">
    <div id="top-logo">
        <img id="logo" src="../images/logo.png">
    </div>
</div>
<div id="container1">
    <div class="floatleft">
        <ul class="navbar" id="navbar1">
            <li><a class="navlink" href="/LoggedInHome/{{userName}}">Home</a></li>
            <li><a class="navlink" href="/about">About</a></li>

            {{#if flag}}
                <li><a class="navlink" href="/viewdetails/{{userName}}">{{userName}}</a></li>
            {{/if}}

            {{!-- <li><a class="navlink" href="/register">Register</a></li>
            <li><a class="navlink" href="/login">Login</a></li> --}}
        </ul>
    </div>
    <div class="floatright">
        <ul class="navbar" id="navbar2">
            <div class="profile" onclick="dropdownToggle();">
                    <li class="navbtn" id="account"></li></a>
            <div class="dropdownmenu" id="dropmenu">
                <li> <a href="/viewdetails/{{userName}}"> View Account Details </a> </li>
                <li> <a href="/acctdetails/{{userName}}"> Edit Account Details </a> </li>
                <li><a href="/delete/{{userName}}"> Delete Account </a></li>
                <li> <a href="/logout"> Logout </a> </li>
                {{!-- <li> <a href="/admin_home_page"> Admin </a> --}}
            </div>
        </div>
            <a class="nav" href="/wishlist"><li class="navbtn" id="wishlist"></li></a>
            <a class="nav" href="/cart"><li class="navbtn" id="cart"></li></a>
            <form id="searchbar" method="GET" action="/search">
                <input type="text" id="fitem" name="fitem" placeholder="Search our store">
                <input type="submit" id="search" value="Search">
            </form>
        </ul>
    </div>
</div>
