<div class="item">
    <input type="checkbox" class="checkbox">
    <img class="image" src={{pImage}}>
    <div class="details" id="det5">
        <h2>{{pName}}</h2>
        <h3>Variation: {{pColor}}</h3>
        <h3>Size: {{pSize}}</h3>
        <form>
            <label for="qty"></label>
            <input type="number" name="qty" value={{pQty}} min="1">
        </form>
    </div>
    <div class="price"><h3>P {{pPrice}}</h3></div>
    <button class="delete"></button>
</div>