
<div class="divcomment">
    <hr>
    <h3 class="rating"> Rating: {{rating}} </h3>
    <h5 class="nameofposter"> posted by @{{userName}} </h5>
    <p class="comment"> {{rev}} </p>
    <!--image div-->
    <div id="divimage">
    <img class="comment_image" src="{{img1}}" alt="rev1" height= "100px">
    <img class="comment_image" src="{{img2}}" alt="rev1" height= "100px">
    </div>
    <!--image div end-->
    <h5 class="nameofposter"> Review Number: {{rNum}} </h5>
</div>
