<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Account Details No edit">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">

	<title> Clothing & Science | View Account Details </title>
	<link rel="stylesheet" type="text/css" href="../css/acctdetails.css">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
</head>
<body>
	{{> header}}

	<div class="container">
			<div class="profile-info">
				<h1> Account Details </h1>
				<h2> Name</h2>
				<input type="text" class="input" value={{fullName}} readonly="readonly">
				<h2> Username</h2>
				<input type="text" class="input" value={{userName}} readonly="readonly">
				<h2> Password</h2>
				<input type="Password" class="input" value={{pw}} readonly="readonly">
				<h2> Email</h2>
				<input type="Email" class="input" value={{email}} readonly="readonly">
				<h2> Delivery Address</h2>
				<input type="text" class="input" value={{deladdr}} readonly="readonly">
				<h2>Contact Number</h2>
				<input type="text" class="input" value={{contactnum}} readonly="readonly">
			</div>
	</div>

	{{> footer}}
    
 <script>
      function dropdownToggle(){
            document.getElementById('dropmenu').classList.toggle('active'); //clicking the account icon makes it appear, clicking it again makes it disappear.
        }
    </script>
</body>
</html>