<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Account Details">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">

	<title> Clothing & Science | Edit Account Details </title>
	<link rel="stylesheet" type="text/css" href="../css/acctdetails.css">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/updatedetails.js"></script>
	<script src="/js/deleteacct.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
</head>
<body>
	{{> header flag=flag userName=userName}}
    
	<div class="container">
			<div class="profile-info">
				<form method="POST" action="/editdetails">
					<h1> Account Details </h1>
					<h2> Name</h2>
					<input type="text" class="input" value="{{fullName}}" name="fullname">
					<h2> Username</h2>
					<input type="text" class="input" value="{{userName}}" name="username">
					<h2> Email</h2>
					<input type="Email" class="input" value="{{email}}" name="email">
					<h2> Delivery Address</h2>
					<input type="text" class="input" value="{{deladdr}}" name="deladdr">
					<h2>Contact Number</h2>
					<input type="text" class="input" value="{{contactnum}}" name="contactnum">
					<input type="submit" class="btn" id="update" value="Update">
					{{!-- <input type="submit" class="btn" id="delete" value="Delete"> --}}
				</form>

				{{!-- <button class="btn" onclick="alert('Successfully updated!')">  Update </button> --}}

				{{!-- <button class="btn" onclick="alert('Successfully deleted!')">  Delete </button> --}}
			</div>
	</div>

    {{> footer}}

 <script>
       function dropdownToggle(){
            document.getElementById('dropmenu').classList.toggle('active'); //clicking the account icon makes it appear, clicking it again makes it disappear.
        }


    </script>
</body>
</html>