<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings - Edit Product">
    <meta name="keyword" content="Admin Settings - Edit Product">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title>Clothing & Science | Admin Settings - Edit Product</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_product_edit.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtheader">
            <span class="material-icons">manage_accounts</span>
            PN # {{pNum}}
            </p>

            <!--PRODUCT NAME TO PRODUCT DESCRIPTION--------------------------------------------------------------------------------------->
            <form class="form" method="POST" action="/admin_product_edit_pname" class="form">
            <p class="txt_titles">Product Name</p><br>
            <input type="text" placeholder="{{pName}}" class="input" id="pname" name="pname">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Name">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pprice" class="form">
            <p class="txt_titles">Product Price</p><br>
            <input type="number" placeholder="{{pPrice}}" class="input" id="pprice" name="pprice">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Price">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pqty" class="form">
            <p class="txt_titles">Available Quantity</p><br>
            <input type="number" placeholder="{{pQty}}" class="input" id="pqty" name="pqty">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit QTY">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_qtysold" class="form">
            <p class="txt_titles">Quantity Sold</p><br>
            <input type="number" placeholder="{{qtySold}}" class="input" id="qtySold" name="qtySold">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit QTY Sold">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pdesc" class="form">
            <p class="txt_titles">Product Description</p><br>
            <input type="text" placeholder="{{pDesc}}" class="input" id="pdesc" name="pdesc">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Description">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pcolor1" class="form">
            <p class="txt_titles">Color 1 (optional)</p><br>
            <input type="text" placeholder="{{pColor1}}" class="input" id="pcolor1" name="pcolor1">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Color 1">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pcolor2" class="form">
            <p class="txt_titles">Color 2 (optional)</p><br>
            <input type="text" placeholder="{{pColor2}}" class="input" id="pcolor2" name="pcolor2">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Color 2">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pcolor3" class="form">
            <p class="txt_titles">Color 3 (optional)</p><br>
            <input type="text" placeholder="{{pColor3}}" class="input" id="pcolor3" name="pcolor3">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Color 3">
            </form>
            
            <form class="form" method="POST" action="/admin_product_edit_pcolor4" class="form">
            <p class="txt_titles">Color 4 (optional)</p><br>
            <input type="text" placeholder="{{pColor4}}" class="input" id="pcolor4" name="pcolor4">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Color 4">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_psize1" class="form">
            <p class="txt_titles">Size 1</p><br>
            <input type="text" placeholder="{{pSize1}}" class="input" id="psize1" name="psize1">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Size 1">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_psize2" class="form">
            <p class="txt_titles">Size 2</p><br>
            <input type="text" placeholder="{{pSize2}}" class="input" id="psize2" name="psize2">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Size 2">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_psize3" class="form">
            <p class="txt_titles">Size 3</p><br>
            <input type="text" placeholder="{{pSize3}}" class="input" id="psize3" name="psize3">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Size 3">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_psize4" class="form">
            <p class="txt_titles">Size 4</p><br>
            <input type="text" placeholder="{{pSize4}}" class="input" id="psize4" name="psize4">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Size 4">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pimage1" class="form">
            <p class="txt_titles">Product Image 1</p>
                <img id="imglogo" src="{{pImage1}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage1" name="pimage1">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Image 1">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pimage2" class="form">
            <p class="txt_titles">Product Image 2</p>
            <img id="imglogo" src="{{pImage2}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage2" name="pimage2">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Image 2">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pimage3" class="form">
            <p class="txt_titles">Product Image 3</p>
            <img id="imglogo" src="{{pImage3}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage3" name="pimage3">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Image 3">
            </form>

            <form class="form" method="POST" action="/admin_product_edit_pimage4" class="form">
            <p class="txt_titles">Product Image 4</p>
            <img id="imglogo" src="{{pImage4}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage4" name="pimage4">
            <br>
            <input type="submit" id="btnedit" class="btne" value="Edit Image 4">
            </form>

            <p id="error"></p>

            <!--END BUTTONS--------------------------------------------------------------------------------------->
            <a href="/admin_home_page"><button id="btncancel" class="btna"> Done </button> </a>

        </div>
    </body>
</html>