<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings - Edit Product">
    <meta name="keyword" content="Admin Settings - Edit Product">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title>Clothing & Science | Admin Settings - Edit Product</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_product_edit.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/validator.min.js" type="text/javascript"></script>
        <script src="/js/admin_edit_main.js"> </script>
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtheader">
            <span class="material-icons">manage_accounts</span>
            PN # {{pNum}}
            </p>

            <!--PRODUCT NAME TO PRODUCT DESCRIPTION--------------------------------------------------------------------------------------->
            <form class="form" method="POST" action="/admin_product_edit" class="form">
            <input type="hidden" name="pnum" value="{{pNum}}">

            <p class="txt_titles">Product Name</p><br>
            <input type="text" placeholder="Product Name" value="{{pName}}" class="input" id="pname" name="pname">
            <p id="pnameerror" class="error">{{pnameerror}}</p>

            <p class="txt_titles">Product Price</p><br>
            <input type="text" placeholder="Product Price" value="{{pPrice}}" class="input" id="pprice" name="pprice">
            <p id="ppriceerror" class="error">{{ppriceerror}}</p>

            <p class="txt_titles">Product Description</p><br>
            <input type="text" placeholder="Product Description" value="{{pDesc}}" class="input" id="pdesc" name="pdesc">
            <p id="pdescerror" class="error">{{pdescerror}}</p>

            <p class="txt_titles">Color 1 (optional)</p><br>
            <input type="text" value="{{pColor1}}" class="input" id="pcolor1" name="pcolor1">
            <br>

            <p class="txt_titles">Color 2 (optional)</p><br>
            <input type="text" value="{{pColor2}}" class="input" id="pcolor2" name="pcolor2">
            <br>

            <p class="txt_titles">Color 3 (optional)</p><br>
            <input type="text" value="{{pColor3}}" class="input" id="pcolor3" name="pcolor3">
            <br>
            
            <p class="txt_titles">Color 4 (optional)</p><br>
            <input type="text" value="{{pColor4}}" class="input" id="pcolor4" name="pcolor4">
            <br>

            <p class="txt_titles">Size 1 (optional)</p><br>
            <input type="text" value="{{pSize1}}" class="input" id="psize1" name="psize1">
            <br>

            <p class="txt_titles">Size 2 (optional)</p><br>
            <input type="text" value="{{pSize2}}" class="input" id="psize2" name="psize2">
            <br>

            <p class="txt_titles">Size 3 (optional)</p><br>
            <input type="text" value="{{pSize3}}" class="input" id="psize3" name="psize3">
            <br>

            <p class="txt_titles">Size 4 (optional)</p><br>
            <input type="text" value="{{pSize4}}" class="input" id="psize4" name="psize4">
            <br>

            <p class="txt_titles">Product Image 1</p>
            <img id="imglogo" src="{{pImage1}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage1" name="pimage1" value={{pImage1}}>
            <br>

            <p class="txt_titles">Product Image 2 (optional)</p>
            <img id="imglogo" src="{{pImage2}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage2" name="pimage2" value={{pImage2}}>
            <br>

            <p class="txt_titles">Product Image 3 (optional)</p>
            <img id="imglogo" src="{{pImage3}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage3" name="pimage3" value={{pImage3}}>
            <br>

            <p class="txt_titles">Product Image 4 (optional)</p>
            <img id="imglogo" src="{{pImage4}}" height="120px" width="120px"><br>
            <input type="file" class ="pimage" id="pimage4" name="pimage4" value={{pImage4}}>
            <br>

            <input type="submit" id="btnedit" name="btnedit" class="btne" value="Edit">
            </form>

            <!--END BUTTONS--------------------------------------------------------------------------------------->
            <a href="/admin_home_page"><button id="btncancel" class="btna"> Cancel </button> </a>

        </div>
    </body>
</html>