<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Checkout Page">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">
    
	<title> Clothing & Science | Checkout Page </title>
	<link rel="stylesheet" type="text/css" href="../css/checkoutpage.css">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/validator.min.js"> </script>
    <script src="/js/checkoutpage.js"> </script>
</head>
<body>
    {{> header}}

       <div class="container">
            <div class="billing-info">
                <h1> Billing Details </h1>
                <h2> Name</h2>
                <input type="text" class="input" value="{{fullName}}" readonly="readonly">
                <h2> Email</h2>
                <input type="Email" class="input" value="{{email}}" readonly="readonly">
                <h2> Delivery Address</h2>
                <input type="text" class="input" value="{{deladdr}}">
                <h2>Contact Number</h2>
                <input type="text" class="input" value="{{contactnum}}" readonly="readonly">

                <h1> Mode of Payment </h1>
                <form id="modeofpaymentform">
                  <select id="selectoptions" onchange="choseCredit(this)">
                      <option value="1"> Credit Card</option>
                       <option value="2"> Cash On Delivery</option>
                      <option value="3"> GCASH</option>

                  </select> 
                </form>

                <div class="creditcardoption" id="creditcardscreen">
                 <div class="cardcontainer">
                     <i class="fa fa-cc-visa" style="color: navy;"> </i>
                     <i class="fa fa-cc-mastercard" style="color: red;"> </i>
                 </div>

                 <form method="POST" action="/checkout">
                    <input type="hidden" name="username" value="{{userName}}">
                    <h2> Name of Cardholder </h2>
                    <input type="text" class="input" id="cardholder" placeholder="Name" name="cardholder" required>
                     <p id="cardholderErr" class="error"> {{cardholderErr}} </p>
                    <h2> Credit Card Number </h2>
                    <input type="text" class="input" id="creditcardnum" placeholder="4444-2222-1111-9999" name="creditcardnum" required>
                    <p id="creditcardErr" class="error"> {{creditcardErr}} </p>
                    <h2> Expiry Month </h2>
                    <input type="text" class="input" id="expirymonth" placeholder="Month" name="expirymonth" required>
                    <p id="expirymonthErr" class="error"> {{expirymonthErr}} </p>
                    <h2> Expiry Year </h2>
                    <input type="text" class="input" id="expiryyear" placeholder="Year" name="expiryyear" required>
                     <p id="expiryyearErr" class="error"> {{expiryyearErr}} </p>
                    <h2> CVV </h2>
                    <input type="text" class="input" id="cvv" placeholder="CVV" name="cvv" required>
                    <p id="cvvErr" class="error"> {{cvvErr}} </p>
                    <input class="btn" type="submit" id="btncheckout" value="Checkout!">
                    
                 </form>
                    {{!-- <p id="cardholderErr" class="error"> {{cardholderErr}} </p>
                    <p id="creditcardErr" class="error"> {{creditcardErr}} </p>
                    <p id="expirymonthErr" class="error"> {{expirymonthErr}} </p>
                    <p id="expiryyearErr" class="error"> {{expiryyearErr}} </p>
                    <p id="cvvErr" class="error"> {{cvvErr}} </p> --}}
                </div>
                <a href="/confirmation/{{userName}}">
                 <button class="btn" id="btncheckout2" hidden> Checkout!</button> 
                </a>
                {{!-- <a href="../views/cart.html">
                <button class="btn" id="btngoback">  Go Back </button>
              </a> --}}
            </div>
    </div>
    
    
	{{> footer}}
    
 <script>
      function dropdownToggle(){
            document.getElementById('dropmenu').classList.toggle('active'); //clicking the account icon makes it appear, clicking it again makes it disappear.
        }

       function choseCredit(){
        chosenval = document.getElementById("selectoptions").value; //get value of option
        // alert(chosenval);

        if (chosenval != 1) {
            document.getElementById("creditcardscreen").style.display = "none"; // if not credit card option, do not show
            document.getElementById('btncheckout2').hidden = false;
        }
        else {
            document.getElementById("creditcardscreen").style.display = ""; // show if credit card option
        }
       }

    </script>
</body>
</html>